.login-page {
  padding-top: 10vh;
}

.login-page__form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  height: 100%;
  border-radius: 45px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);

  h1 {
    max-width: 500px;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: var(--color1);
    text-align: center;
    margin: 50px auto;
  }
}

.login-page__form{
  display:flex;
  flex-direction: column;
}

.login-page__form__input {
  display:flex;
  flex-direction: column;

  .form__control {
    height: 130px;
    //margin-bottom: 50px;
  }

  input {
    width:630px;
    height: 75px;
    background-color: var(--color4);
    border-radius: 15px;
    color: var(--color0);
    font-size: 20px;
    padding-left: 20px;

    &::placeholder {
      color: var(--color0);
      font-size: 20px;
    }

    &:focus {
      outline: 2px solid var(--color1);
    }
  }

  .form__error {
    color: var(--color11);
    font-size: 15px;
    font-weight: 500;
  }
}

.login-page__button {
  width: 100%;
  max-width: 300px;
  height: 75px !important;
  border-radius: 15px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: var(--color0) !important;
  background-color: var(--color1)!important;
  margin: 20px auto;
}

.login-page__button-disabled {
  width: 100%;
  max-width: 300px;
  font-weight: 500 !important;
  height: 75px !important;
  border-radius: 15px !important;
  font-size: 20px !important;
  color: var(--color0) !important;
  background-color: var(--color5) !important;
  margin: 20px auto;
  cursor: none;
}

.login-page__submit-active {
  background-color: var(--color1);
}

.mdc-button__label {
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  logo-icon {
   margin: 0 10px;
  }
}

@media (max-width: 430px) {

  .login-page {
    padding-top: 15vh;
  }

  .login-page__form-group {
    max-width: 385px;
    height: 470px;

    h1 {
      max-width: 245px;
      font-size: 20px;
      line-height: 23px;
      margin: 30px auto;
    }
  }

  .login-page__form__input {

    .form__control {
      height: 100px;
    }
    .form__error {
      width: 300px;
      font-size: 10px;
    }

    input {
      width:300px;
      height: 60px;
      background-color: var(--color4);
      margin-bottom: 5px;
      border-radius: 15px;
    }
  }

  .login-page__button {
    height: 50px !important;
    margin: 15px auto;
    font-weight: unset !important;
  }

  .login-page__button-disabled {
    height: 50px !important;
    margin: 15px auto;
    font-weight: unset !important;
  }

  .mdc-button__label {
    logo-icon {
      display: none;
    }
  }

}
