<div class="reservation-dialog">
  <button
    matTooltip="Закрити діалог"
    (click)="closeDialog()"
    class="reservation-dialog__close">
  </button>
  <h2 class="reservation-dialog__title">Бронювання столику</h2>
  <div class="reservation-dialog__table-number">
    <span>Столик {{tableNumber}}</span>
  </div>
  <form #reservationDialogForm="ngForm" (ngSubmit)="onSubmit(reservationDialogForm)" class="reservation-dialog__form">
    <div class="form-groups">
      <div class="form-group-1">
        <mat-form-field>
          <mat-label class="form-field__label">Оберіть дату</mat-label>
          <input
            matInput
            required
            [matDatepicker]="picker"
            [min]="minDate"
            [(ngModel)]="bookingDate"
            name="date"
            placeholder="Оберіть дату"
          >
          <mat-hint>MM/ДД/РРРР</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <calendar-icon matDatepickerToggleIcon></calendar-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label class="form-field__label">Оберіть час</mat-label>
          <mat-select
            required
            [(ngModel)]="bookingTimeValue"
            name="bookingTime"
          >
            @for (item of bookingTime; track item) {
              <mat-option [value]="item">{{item}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group-2">
        <mat-form-field>
          <mat-label class="form-field__label">Оберіть тривалість</mat-label>
          <mat-select required [(ngModel)]="bookingDurationValue" name="duration">
            @for (item of bookingDuration; track item) {
              <mat-option [value]="item">{{item}} min</mat-option>
            }
          </mat-select>

        </mat-form-field>

        <mat-form-field>
          <mat-label class="form-field__label">Введіть ПІП гостя</mat-label>
          <input matInput type="text" [(ngModel)]="guestName" required name="guest">
        </mat-form-field>
      </div>
    </div>
    <button
      mat-flat-button
      mat-dialog-close
      type="submit"
      [disabled]="!reservationDialogForm.form.valid"
      class="form__submit-button"
    >Забронювати</button>
  </form>
  <p>
    Після бронювання очікуйте підтвердження від гостя
  </p>

</div>
