.table-map{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__search {
    color: var(--color1);
    .search__field {
      width: 335px;

      ::ng-deep .mat-mdc-form-field-flex {
        height: 45px;
        align-items: center;
        border-radius: 12px !important;
      }

      .mat-mdc-form-field-outline {
        .mat-mdc-form-field-outline-start,
        .mat-mdc-form-field-outline-end,
        .mat-mdc-form-field-outline-gap {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      input.mat-input-element {
        height: 100%;
        padding: 0 16px;
        box-sizing: border-box;
      }

      button.mat-icon-button {
        height: 100%;
        display: flex;
        align-items: center;
      }

      mat-icon {
        color: var(--color1);
        margin-right: 10px;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }

  &__list {
    max-width: 1200px;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 350px);

    table-item-component {
      margin-top: 50px;
    }
  }
}



.cdk-overlay-dark-backdrop{
  background-color: rgba(73, 19, 168, 0.55);
}
.cdk-overlay-pane {
  border-radius: 45px !important;
}


