<div class="user-data__header">
<!--  <p>Мої дані</p>-->
</div>
<div class="user-data__main">
  <div class="data-logo">
    <img [src]="userInformation().image" [alt]="userInformation().name">
  </div>
  <div class="data-information">
    <div>
      <span class="data-information__label label-space">Ім’я</span>
      <span>{{userInformation().name | titlecase}}</span>
    </div>
    <div>
      <span class="data-information__label label-space">Прізвище</span>
      <span>{{userInformation().last_name | titlecase}}</span>
    </div>
    <div>
      <span class="data-information__label label-space">Телефон</span>
      <span>{{userInformation().phone_number }}</span>
    </div>
    <div>
      <span class="data-information__label">E-mail</span>
      <span>{{userInformation().email }}</span>
    </div>
  </div>

</div>
