@use '@angular/material' as mat;
@include mat.core();
@import url('https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700,');

:root {
  --color0: #FFFFFF;
  --color1: #3F409B;
  --color2: #3F409C;
  --color3: #52529A;
  --color4: #A9A9CD;
  --color5: #ADADD3;
  --color6: #8485C6;
  --color7: #5C5CA4;
  --color8: #7171B6;
  --color9: #ACABD6;
  --color10: #525252;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{cursor: pointer;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

html, body { height: 100%; }
body { margin: 0; font-family: 'Rubik', sans-serif; }
